---
import Layout from "../layouts/Layout.astro";
import Card from "../components/atoms/Card.astro";

import { wpquery } from "@src/data/wordpress";

const data = await wpquery({
  query: `
    query LoadAllPostExcerpt {
      posts {
        nodes {
          title
          slug
          featuredImage {
            node {
              mediaItemUrl
              srcSet
              sizes
              altText
            }
          }
          excerpt
          date
        }
      }
    }
  `,
});

---

<Layout title="Welcome to gattetos.">
  <main>
    <h1 class="text-gradient">Gattetos</h1>
  </main>

  <ul role="list" class="link-card-grid">
    {data.posts.nodes.map((post) => (
      <Card
        link={`/blog/${post.slug}`}
        title={post.title}
        body={post.excerpt}
        linkBody="Leer más"
        image={post.featuredImage.node.mediaItemUrl}
		altText={post.featuredImage.node.altText}
      />
    ))}
  </ul>
</Layout>

<style is:global>
	main {
	  margin: auto;
	  padding: 1rem;
	  width: 800px;
	  max-width: calc(100% - 2rem);
	  color: white;
	  font-size: 20px;
	  line-height: 1.6;
	}
	.astro-a {
	  position: absolute;
	  top: -32px;
	  left: 50%;
	  transform: translatex(-50%);
	  width: 220px;
	  height: auto;
	  z-index: -1;
	}
	h1 {
	  font-size: 4rem;
	  font-weight: 700;
	  line-height: 1;
	  text-align: center;
	  margin-bottom: 1em;
	}
	.text-gradient {
	  background-image: var(--accent-gradient);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
	  background-size: 400%;
	  background-position: 0%;
	}
	.instructions {
	  margin-bottom: 2rem;
	  border: 1px solid rgba(var(--accent-light), 25%);
	  background: linear-gradient(
		rgba(var(--accent-dark), 66%),
		rgba(var(--accent-dark), 33%)
	  );
	  padding: 1.5rem;
	  border-radius: 8px;
	}
	.instructions code {
	  font-size: 0.8em;
	  font-weight: bold;
	  background: rgba(var(--accent-light), 12%);
	  color: rgb(var(--accent-light));
	  border-radius: 4px;
	  padding: 0.3em 0.4em;
	}
	.instructions strong {
	  color: rgb(var(--accent-light));
	}
	.link-card-grid {
	  display: grid;
	  place-content: center;
	  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
	  grid-template-rows: auto;
	  gap: 1.6rem;
	  padding: 0 3rem;
	}
  </style>
